
{% block stylesheets %}
    <link rel="stylesheet" href="../App.css">
{% endblock %}
{% block body %}
    <nav class="all">
    <div></div>
    <div class="First">
    <a class="lien1" style="    padding: 5% 0 10% 0;" href="">Article</a>
    <a class="lien1" href="">Inscription</a>
    </div>
    <div style="width:20%;"></div>
    <div class="last">
    <a class="lien1" style="    padding: 5% 0 10% 0;" href="">Connection</a>
    <a class="lien1" href="">Admin</a>
    </div>
</nav>
{% endblock %}