.but {
    color: black;
}

img {
    width: 35vw;

}
body{
    background-color: whitesmoke;
}
.surnom{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: sienna;
}
.formulaireConnect{
    display: flex;
    flex-direction: unset;
    padding-top: 2%;
    justify-content: center;
}


.containerArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.titreprincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: cadetblue;
    padding-bottom: 0%;
}

.titre {
    z-index: 0;
    width: 26%;
    font-style: italic;
    font-weight: bolder;
    font-size: 3vw;
    /* padding-bottom: inherit; */
    margin-bottom: -4vw;
    border: solid 1px bisque;
    background-color: #538C89;
    color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    /* padding-bottom: 4%; */
    align-items: center;
    margin-top: 12%;
    height: 7vw;
    justify-content: center;

}

.contentt {
    width: 60%;
    padding-top: 5%;
}

.allBut {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
}

.englobBut {
    background-color: gray;
    width: 13vh;
    height: 4vh;
    text-align: center;
    border-radius: 30px;
}

.but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 0.5vw;
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

.imageComplete {
    /* width: 15vw; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

textarea {
    width: 60vw;
    height: 15vw;
    align-self: center;
    margin-left: 11%;

}

.title {
    color: cadetblue;
    text-align: center;
}

.titleArticle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%;
    font-size: 3vw;
    text-decoration: underline;
    color: cadetblue;
}

.contentArticle {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    align-content: center;
    /* align-self: center; */
    margin-left: 15%;
    padding: 3%;
}

.commentaireContent {

}

.commentaireUsername {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.englobcomment {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px grey;
    padding: 2%;
    margin-bottom: 3vw;
}

.commentaireDate {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.timeArticle {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

h2 {
    text-align: center;
}

.all {

    width: 100%;
    height: 10vw;
    background-color: #538C89;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    z-index: 10000;

}

.First {
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    width: 50%;
    height: 23vh;
    text-align: center;

}

.last {
    display: flex;
    /* float: left; */
    flex-direction: column;
    width: 50%;
    height: 23vh;
    text-align: center;
}

.lien1 {
    text-decoration: none;
    color: white;
}

body {
    margin: 0 auto;

}

.navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7vw;
    border-bottom: solid cadetblue 2px;


}

.lien {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}

.logo {
    width: 40%;
    font-weight: bold;
    color: #41BDB6;
    font-size: 30px;

    flex-direction: column;
    display: flex;
    align-self: center;
    margin-left: 3%;
}

.redirect {
    color: #41BDB6;
    text-decoration: none;
}

.redirect:hover {
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.formulaire {
    display: flex;
    background-color: lightgray;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    padding: 2% 2% 2% 2%;
    width: 70%;
    align-items: center;
    height:27vh;

}
main{
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
}
.form{
    padding:2% 2% 2% 2%;
}
.menu{
    display:none;
}
#menuToggle{
    display:none;
}
.label{
    text-align: center;
    font-size: 2vw;
}

.connexion{
    text-align: center;
    margin-top: 11%;
    color: cadetblue;

}
label{
    color:black;
}


@media screen and (max-width: 800px) {
.surnom{
    padding: 20%;
    margin-bottom: 5%;
}


    .allBut{
    justify-content: center;
}
    .formulaireConnect{

        padding-top: 10%;
        flex-direction: column;

    }

    .navBar{
    display: none;
}
    body
    {
        margin: 0;
        padding: 0;


        color: #cdcdcd;
        font-family: "Avenir Next", "Avenir", sans-serif;
    }

    a
    {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    a:hover
    {
        color: tomato;
    }

    #menuToggle
    {
        display: block;
        position: relative;
        top: 111px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;
    }

    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
    {
        position: absolute;
        width: 101%;
        height: 2500%;
        overflow:hidden;
        text-align:center;
        margin: -100px 0 0 -50px;
        padding-top: 80px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 50px 0;
        font-size: 22px;
        text-align: center;
    }
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
    .menu ul{
        background-color: #7a421a;
    }
.navBar{
    display: flex;
    flex-direction: row;
    width: 117%;
    height: 7vw;
    border-bottom: solid cadetblue 2px;
    justify-content: space-between;
    align-items: center;
}
.lien{
    display: none;
}

    .bouttondemerd {
        width: 16vw;
        height: 7vw;
        border-radius: 20px;
        background-color: grey;
        color: white;
        cursor: pointer;
    }
    .menu{
        display:block;
        font-size: 4vw;
    }
    .contentt{
        width: 90%;

        text-align: justify;
    }

}
@media screen and (max-width: 400px){

    .all{
        height:10vw;
    }



}